body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.press {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.8;
  color: #333;
}

.press h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.press ul {
  list-style: none;
  padding: 0;
}

.press li {
  margin-bottom: 15px;
}

.press li span {
  font-weight: bold;
}

.press a {
  color: #007BFF;
  text-decoration: none;
}

.press a:hover {
  text-decoration: underline;
}