.artistic-divider {
  width: 100%;
  margin: 3.5rem 0 3.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artistic-divider svg {
  max-width: 420px;
  width: 100%;
  height: 30px;
  display: block;
}
